.toDolist {
  width: 500px;
  border: 1px solid rgba(207, 206, 206, 0.933);
  margin: 20px auto;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.2);
}

.toDolist .title {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
}

.toDolist ul:nth-child(2) input {
  width: 75%;
  height: 28px;
  border-radius: 4px;
  border: 1px solid black;
  padding-left: 10px;
}

.toDolist ul:nth-child(2) button {
  margin-left: 20px;
  height: 30px;
  border: none;
  width: 50px;
  border-radius: 4px;
}

.toDolist ul:nth-child(3) li {
  padding: 10px 50px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toDolist ul:nth-child(3) li input {
  width: 20px;
  height: 20px;
}

.toDolist ul:nth-child(3) li span:nth-child(2) {
  flex: 1;
  padding-left: 10px;
}

.toDolist ul:nth-child(4) {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.toDolist ul:nth-child(4) span {
  margin-right: 20px;
}

.toDolist ul:nth-child(4) span:nth-child(1) {
  margin-right: 71px;
}
